ion-card-content {
  margin-top: 13px;
  padding-bottom: 5px;
}

ion-badge {
  margin: 0 2.5px;
}

ion-card {
  margin: 15px;
}

ion-row .red{
  background-color: #8d2121;
}

img {
  width: 250px;
  min-width: 100px;
}

ion-card-title{
  text-align: start;
}
