<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-row class="ion-justify-content-center red">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Nº001</ion-card-subtitle>
        <img
          src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png"
        />
      </ion-card-header>

      <ion-card-content>
        <ion-card-title>Bulbassaur</ion-card-title>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-badge color="grass" slot="end">Grass</ion-badge>
          <ion-badge color="poison" slot="end"
            >Poison</ion-badge
          >
        </ion-item>

        <ion-grid>
          <ion-row>
          <ion-col>Type</ion-col>
          <ion-col>
            <ion-item>
              <ion-badge color="grass" slot="end">Grass</ion-badge>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-badge color="poison" slot="end">Poison</ion-badge>
            </ion-item>
          </ion-col>       
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
