ion-card-content {
  padding: 5px 16px;
}
ion-card-header {
  padding: 10px 5px;
}

ion-badge {
  margin: 0 2.5px;
}

ion-col {
  margin: 0;
  padding: 0;
}

ion-row {
  margin: 0 5px 0 5px;
  .red {
    background-color: #8d2121;
  }
}

ion-card-title {
  text-align: start;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
